@import "tailwindcss";

.main-layout {
  @apply px-6 max-w-[60rem] mx-auto mt-5;
}

body {
  background: #343172;
  background: linear-gradient(
    90deg,
    rgba(52, 49, 114, 1) 0%,
    rgba(56, 131, 143, 1) 50%,
    rgba(44, 73, 131, 1) 100%
  );
  color: white;
}

.background {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
