@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout {
  @apply px-6 max-w-[60rem] mx-auto mt-5;
}

body {
  font-family: "Geist", sans-serif;
  background-color: #181824;
  color: white;
}

.background {
  background-color: #232334;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  @apply transform transition-transform 
    duration-100
    hover:scale-105
    active:scale-105;
}

.ball_button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.funcButton {
  padding: 0.8em 1em;
  border-radius: 10px;
  color: white;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
