@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout {
  @apply px-3 md:px-6 max-w-[60rem] mx-auto mt-4 md:mt-5;
}

body {
  font-family: "Geist", sans-serif;
  background-color: #181824;
  color: white;
}

.background {
  background-color: #232334;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  @apply transform transition-transform 
    duration-100
    hover:scale-105
    active:scale-105;
}

.ball_button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: clamp(44px, 12vw, 70px);
  height: clamp(44px, 12vw, 70px);
  border-radius: 50%;
  color: white;
  font-size: clamp(1rem, 4vw, 2rem);
  align-items: center;
  justify-content: center;
}

.funcButton {
  padding: 0.65em 0.85em;
  border-radius: 10px;
  color: white;
  font-size: clamp(0.9rem, 3.2vw, 1.2rem);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
