---
import MainWindow from "@/components/MainWindow";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="main-layout">
    <div class="mt-6 mb-6 md:mt-12 md:mb-9"></div>
    <MainWindow client:load />
  </div>

  <footer class="bg-[#232334] mt-10 md:mt-14">
    <div class="px-4 py-3 main-layout text-base text-center">
      <span>
        Online Snooker Scoreboard | Made with ❤️ by
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline"
          href="https://aidiliskandar.space">Aidil Iskandar</a
        >
        &copy; 2026</span
      >
    </div>
  </footer>
</Layout>
