---
import PlayerWindow from "@/components/PlayerWindow.astro";
import Stats from "@/components/Stats.astro";
import AddScore from "@/components/AddScore.astro";
---

<div class="rounded-2xl grid grid-cols-[1fr_300px_1fr] gap-2">
  <PlayerWindow />
  <Stats />
  <PlayerWindow />
</div>
<AddScore />
