<div class="background px-4 py-7 grid gap-4 rounded-sm">
  <div class="grid grid-cols-3 text-center text-4xl font-bold pb-5">
    <span>2</span>
    <span>(3)</span>
    <span>0</span>
  </div>
  <div class="flex">
    <span class="flex-grow">Break</span><span class="font-bold text-yellow-200">113</span>
  </div>
  <div class="flex">
    <span class="flex-grow">Reds</span><span class="font-bold text-yellow-200">0</span>
  </div>
  <div class="flex">
    <span class="flex-grow">Difference</span><span class="font-bold text-yellow-200">79</span>
  </div>
  <div class="flex">
    <span class="flex-grow">Remaining</span><span class="font-bold text-yellow-200">0</span>
  </div>
</div>
